---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import astronautImage from "~/assets/astronaut.png";
import HeroImage from "~/components/hero-image.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section id="splash" class="class="relative flex h-64 items-center justify-center"">
    <h2
      class="flex flex-col items-center gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <Icon name="piano" class="size-24 text-grey md:size-32" />
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-8xl"
      >
        Discover your
        <br /> hidden dance talent
      </div>
    </h2>
</section>

<noscript>
  <style>
    #splash {
      display: block;
      background-color: green;
      height: 100%;
    }
  </style>
</noscript>
